.footer-wrapper {
  display: flex;
  justify-content: end;
  margin-top: auto;
  color: #fff;
  padding-inline: 20px;
}

.footer-wrapper p {
  margin: auto 0;
  padding: 25px 30px;
  font-size: 16px;
}

.footer-wrapper i {
  color: #da2727;
  margin: 0 2px;
}
