.navbar-wrapper {
  display: flex;
  padding: 20px 30px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-wrapper .navbar-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-wrapper .navbar-nav {
  gap: 30px;
}

.navbar-wrapper .navbar-nav .sign_in {
  border: 1px solid #fff;
  border-radius: 8px;
  width: 200px;
  text-align: center;
}

.navbar-wrapper .navbar-nav .sign_in:is(:hover) {
  background: #fff;
  border: 1px solid transparent;
  color: #20105b;
}

.navbar-wrapper .navbar-nav .sign_in a:is(:hover) {
  color: #20105b;
}

.navbar-wrapper .navbar-nav a,
.navbar-wrapper .navbar-brand {
  color: #fff;
}

.navbar-wrapper .navbar-brand:is(:hover),
.navbar-wrapper .navbar-nav .sign_up:is(:hover) {
  filter: brightness(0.8);
}

.navbar-wrapper .navbar-nav .logout button {
  border: 1px solid #fff;
  border-radius: 8px;
  width: 180px;
  text-align: center;
  background: transparent;
  color: #fff;
}

.navbar-wrapper .navbar-nav .logout button:is(:hover) {
  background: #fff;
  border: 1px solid transparent;
  color: #20105b;
}

.user-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.user-wrapper p {
  font-size: 16px;
  color: #fff;
  margin: 0 auto;
  font-weight: bold;
}
